:root {
   --whitesmoke:#F5F0F6;
   --eerieblack:#1C1D20;
   --grey:#C4C8D3;
   --ballblue:#2AB7CA;
   --spacecadet:#241E4E;
   --raspberry:#9E0031;
   --tangerine:#FAA916;
   --grape-light:#662AAF;
   --purple-dark:#330036;
   --gold: #FFC700;
   --steelblue: #4A7AB4;
   --ceil: #8FB2CE;
   --bubbles: #E5F8FF;
   --cerulean: #007BA7;
   --ghostwhite: #F9FDFF;
   --gunmetal: #2C363F;
   --vermilion: #D64933;
   --grape: #533A7B;
   --firebrick: #BA1C1A;
   --metallicseaweed: #028090;
}

@font-face {
    font-family: 'montserrat';
    /* src: url('resources/fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url("resources/fonts/Montserrat-ExtraLight.otf") format("opentype"),
         url('resources/fonts/montserrat-extralight-webfont.woff') format('woff'); */
   src: url('resources/fonts/Montserrat-Regular.woff2') format('woff2'),
        url("resources/fonts/Montserrat-Regular.otf") format("opentype"),
        url('resources/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
   scroll-behavior: smooth;
}

a{
   color: var(--vermilion);
}

#body{
   /* overflow-x: hidden; */
   /* background-color: var(--tangerine); */
   /* background-image: radial-gradient(var(--ballblue), var(--whitesmoke)); */
   /* background: -webkit-linear-gradient(top, var(--steelblue), var(--steelblue)); */
   margin-top: 0;
   margin-left: 0;
}

#site-wrapper{
   position: absolute;
   overflow-x: hidden;
   font-family: 'montserrat';
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none;  /* IE 10+ */
}

#site-wrapper::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#perma-top{
   background-image: url("resources/images/background2.jpg");
   /* background-image: radial-gradient(var(--ballblue), var(--whitesmoke)); */
   width: 100vw;
   height: 100vh;
   white-space: nowrap;
   vertical-align: middle;
   display: inline-block;
   text-align: center;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   /* background: -webkit-linear-gradient(top, var(--ballblue), var(--spacecadet)); */
}

.helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}



#banner{
   width: 60vmin;
   height: 60vmin;
   vertical-align: middle;
   margin-top: -30vh;
}

#scrollTo-wrapper{
   margin-top: -13vh;
   /* margin-left: 48vw; */
   display: inline-block;
   height: 0;
   width: 100vw;
   text-align: center;
   vertical-align: middle;
}

#scrollTo{
   background: url("resources/images/down-arrow.svg") no-repeat;
   background-size: 8vmin;
   width: 8vmin;
   height: 8vmin;
   border: none;
   /* margin-top: -13vh; */
   /* margin-left: 48vw; */
   outline: none;
}
#scrollTo:hover{
   cursor:pointer;
}

#toolbar{
   height: 10vh;
   width: 100vw;
   display: inline-block;
   white-space: nowrap;
   vertical-align: middle;
   text-align: left;
   background-color: var(--gunmetal);     /*  TOOLBAR COLOR HERE */
}

#toolbar .active{
   background-color: var(--vermilion);
   transition: 0.2s;
}

.toolbar-button{
   width: 150px;
   max-width: 33vw;
   height: 100%;
   border: none;
   font-family: 'montserrat';
   font-size: 4vmin;
   background-color: transparent;
   outline: none;
   color: var(--bubbles);
}

.toolbar-button:hover{
   cursor:pointer;
}

#grid {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

#portrait-wrapper{
   width: 90vw;
   margin: 0 0;
   transition: 0.5s;
}



#crypto-text, #fourD-text, #dnd-text, #offworld-text, #tavrn-text{
   display: none;
   width: 20vw;
   /* height: 66vh; */
   float: left;
   margin-left: 5vw;
   padding-left: 1vw;
   padding-right: 1vw;
   font-size: 3vmin;
   border: 3px solid var(--vermilion);
   border-radius: 7px;
   background-color: var(--gunmetal);
   /* background: -webkit-linear-gradient(top, var(--bubbles), var(--gunmetal)); */
   color: var(--ghostwhite);
}

#crypto-text-closer, #fourD-text-closer, #dnd-text-closer, #offworld-text-closer, #tavrn-text-closer{
   background-color: var(--vermilion);
   color: var(--ghostwhite);
   border: none;
   border-radius: 3px;
   position: relative;
   margin-left: 25%;
   margin-bottom: 5%;
   width: 50%;
   height: 10%;
   font-size: 100%;
}
#crypto-text-closer:hover, #fourD-text-closer:hover, #dnd-text-closer:hover, #offworld-text-closer:hover, #tavrn-text-closer:hover{
   cursor:pointer;
}

.show-text{
   display: block !important;
}

.portfolio-text-higlight{
   text-decoration: underline var(--vermilion);
   font-size: 110%;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #fff;
    overflow: hidden;
    visibility: hidden;
}

#grid li * {
    visibility: visible;
}

#grid li:nth-child(3n+2) {
   margin: 0 8%;
  /* margin: 0 1.1%; */
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
   margin-top: -4%;
   /* margin-top: -7.1%; */
   /* margin-top: -6.9285714285%; */
   margin-bottom: 5%;
   /* margin-bottom: -6.9285714285%; */
   -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
   -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
   -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
   -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
   transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+4) {
   margin-left: 4%;
    /* margin-left: 0.5%; */
}

#grid li .hexagon {
   background: var(--gunmetal);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-transform: skewY(-30deg) rotate(60deg);
   -moz-transform: skewY(-30deg) rotate(60deg);
   -webkit-transform: skewY(-30deg) rotate(60deg);
   -ms-transform: skewY(-30deg) rotate(60deg);
   transform: skewY(-30deg) rotate(60deg);
   overflow: hidden;
}

#grid li .hexagon img{
   left: -100%;
   right: -100%;
   height: 100%;
   width: 100%;
   margin: auto auto;
   -o-transition: all 0.2s linear 0s;
   -moz-transition: all 0.2s linear 0s;
   -ms-transition: all 0.2s linear 0s;
   -webkit-transition: all 0.2s linear 0s;
   transition: all 0.2s linear 0s;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li .hexagon .hex-back{
   position: absolute;
   z-index: 0;
   top: 0;
   width: 115.27%;
   height: auto;
}

#grid li .hexagon .hex-logo{
   position: absolute;
   z-index: 2;
   top: 0;
   filter: opacity(0%);
}

#grid li .hexagon .hex-logo:hover{
   filter: opacity(100%);
   width: 110%;
}

#grid li .hexagon p{
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1;
   -o-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   /* filter: opacity(0%); */
   -o-transition: all 0.2s linear 0s;
   -moz-transition: all 0.2s linear 0s;
   -ms-transition: all 0.2s linear 0s;
   -webkit-transition: all 0.2s linear 0s;
   transition: all 0.2s linear 0s;
   font-size: 5vmin;
   -webkit-text-stroke-width: 1px;
   color: var(--whitesmoke);
   -webkit-text-stroke-color: var(--eerieblack);
}

.hexagon:hover{
   cursor: pointer;
}

.content-tab-wrapper{
   width: 100vw;
   height: auto;
   margin: auto;
   display: none;
}

#Portfolio-tab{
   width: 95vw;
   padding-top: 0 !important;
}

.Portfolio-title-wrapper{
   padding-top: 4vh;
   height: 6vh;
   padding-bottom: 4vh;
   font-size: 5vmin;
   text-align: center
}

#AboutMe-tab{
   padding-left: 10vw;
   padding-right: 10vw;
   padding-top: 10vh;
   padding-bottom: 10vh;
}

#content-wrapper{
   width: 100vw;
   height: 90vh;
   background: -webkit-linear-gradient(top, var(--bubbles), var(--cerulean)); /* BACKGROUND GRADIENT HERE */
}

#content-wrapper .active-content{
   display: block !important;
}

.AboutMe-Image-Wrapper{
   width: 40vw;
   height: 70vh;
   display: inline-block;
   float: left;
}

.AboutMe-Text-Wrapper{
   width: 40vw;
   height: 70vh;
   display: inline-block;
   font-size: 2.5vmin;
   line-height: 4vmin;
   vertical-align: middle;
   position: absolute;
}

.AboutMe-Text-SmallWrapper{
   width: 100%;
   position: absolute;
   top: 50%; left: 50%;
   transform: translate(-50%,-50%);
}

#profile-pic{
   width: 25vw;
   border-radius: 10%;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.big-text{
   font-size: 125%;
}

.highlight-text{
   text-decoration: underline var(--cerulean);
   font-size: 105%;
}

.AboutMe-text{
   margin-top: 1vmin;
}

#Resume-tab{
   width: 95vw;
   font-size: 4vmin;
}
.Resume-Category{

}

.Resume-logo{
   width: 10%;
}

#Resume-icons-side-wrapper{
   width: 45vw;
   margin-left: 0;
   float: left;
}

#Resume-experience-side-wrapper{
   width: 45vw;
   height: 50vh;
   float: right;
   color: var(--gunmetal);
   font-size: 4vmin;
}

.Resume-Category-Title{
   text-align: center;
   padding: 0 0 2% 0;
}

.Resume-Highlight{
   text-decoration: underline var(--vermilion);
}

.Resume-Category-Content{
   text-align: center;
   padding: 0 0 4% 0;
}

.Resume-Job-Entry-Title{
   margin-bottom: 0;
}

.Resume-Job-Entry-Title:hover{
   color: var(--firebrick);
   cursor: pointer;
}

.Resume-Job-Description{
   display: none;
   font-size: 60%;
   padding-left: 10%;
   margin-top: 10px;
}

.resume-show-text{
   display: block !important;
}

.download-wrapper{
   position: absolute;
   width: 100%;
   height: 5vh;
   text-align: center;
   margin: 0 auto;
   top: 190vh;
}
.download-logo:hover{
   cursor:pointer;
}

@media only screen and (max-device-width: 825px) {
  #perma-top {
    background-attachment: scroll;
  }

  .toolbar-button{
     width: 33.33vw;
     font-size: 50px !important;
  }

  #toolbar .active{
     border-left: 2px solid var(--bubbles);
  }

  .AboutMe-Image-Wrapper{
     width: 80vw;
     height: auto;
     text-align: center;
     vertical-align: middle;
     display: inline-block;
     padding-bottom: 5vh;

  }

  .AboutMe-Text-Wrapper{
     width: 80vw;
     height: auto;
     font-size: 3vmin !important;
     line-height: 5vmin;
     position: relative;
  }

  .AboutMe-Text-SmallWrapper{
     width: 100%;
     position: relative;
     top: 0;
     left: 0;
     transform: none;
  }

  #AboutMe-tab{
     padding-left: 10vw;
     padding-right: 10vw;
     padding-top: 2vh;
  }
  #profile-pic{
     width: 50vw;
     border-radius: 10%;
     position: relative;
     top: 0;
     left: 0;
     transform: none;
     /* border: 4px solid var(--raspberry); */
     /* height: auto; */
  }
  .Portfolio-title-wrapper{
     padding-bottom: 40px;
  }
  #grid li:nth-child(2n+1), #grid li:nth-child(2n+2){
     margin: 0 0 0 0;
     -o-transform: rotate(-60deg) skewY(30deg);
     -moz-transform: rotate(-60deg) skewY(30deg);
     -webkit-transform: rotate(-60deg) skewY(30deg);
     -ms-transform: rotate(-60deg) skewY(30deg);
     transform: rotate(-60deg) skewY(30deg);
  }

  #grid li {
      width: 45%;
      padding: 0 0 51.9615242271% 0;
  }

  #grid li:nth-child(3n+1){
     margin: 0;
     margin-right: 3%;
  }
  #grid li:nth-child(3n+2){
     margin: 0;
     margin-left: 3%;
  }
  /* #grid li:nth-child(3n+1), #grid li:nth-child(3n+2){
     margin: 0 2%;
  } */
  #grid li:nth-child(3n+3){
     margin: -9% 5% -9% 3%;
     -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
     -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
     -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
     -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
     transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  #crypto-text, #fourD-text, #dnd-text, #offworld-text, #tavrn-text{
     position: relative;
     width: 90vw;
     float: none;
     margin: 0 auto;
     font-size: 4vmin;
  }

  #grid {
     width: 95%;
     padding-left: 2.5%;
  }

  #portrait-wrapper{
     width: 100%;
     height: 76vh;
  }

  .show-text{
     margin-left: 101vw !important;
     margin-top: -130% !important;
  }
  .shrunkGrid{
     margin-left: -100vw !important;
  }

  #Resume-icons-side-wrapper{
     width: 100%;
     float: none;
     font-size: 4vmin;
  }

  .Resume-Job-Entry-Title{
     margin-top: 0;
     padding-left: 2em;
     text-indent: -2em;
 }
 .Resume-Highlight{
    font-size: 6vmin;
}
  #Resume-experience-side-wrapper{
     width: 100%;
     float: none;
     font-size: 6vmin;
  }
  #Resume-tab{
     padding-top: 2vh;
 }
 .right-arrow::before{
    content: url("data:image/svg+xml,%3Csvg aria-hidden='true' width='4em' height='4em' focusable='false' data-prefix='fas' data-icon='angle-right' class='svg-inline--fa fa-angle-right fa-w-8' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%23D64933' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'%3E%3C/path%3E%3C/svg%3E");
 }

 .downwards-arrow::before{
    content: url("data:image/svg+xml,%3Csvg aria-hidden='true' transform='rotate(90)' width='4em' height='4em' focusable='false' data-prefix='fas' data-icon='angle-right' class='svg-inline--fa fa-angle-right fa-w-8' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%23D64933' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'%3E%3C/path%3E%3C/svg%3E");
 }

 .download-text{
    display: none;
}
.download-logo{
   width: 75px;
}



}

@media only screen and (min-device-height: 625px) {
   .toolbar-button{
      font-size: 25px;
   }
}

@media only screen and (min-device-width: 825px) {
   .shrunkGrid{
      transition: 0.5s;
      padding-left: 10vw !important;
   }
   .content-tab-wrapper{
      padding-top: 14vh;
   }

   #grid {
      float: left;
      width: 55vw;
   }

   #portrait-wrapper{
      height: 76vh;
      padding-left: 20vw;
   }
   .right-arrow::before{
      content: url("data:image/svg+xml,%3Csvg aria-hidden='true' width='20' height='20' focusable='false' data-prefix='fas' data-icon='angle-right' class='svg-inline--fa fa-angle-right fa-w-8' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%23D64933' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'%3E%3C/path%3E%3C/svg%3E");
   }

   .downwards-arrow::before{
      content: url("data:image/svg+xml,%3Csvg aria-hidden='true' transform='rotate(90)' width='20' height='20' focusable='false' data-prefix='fas' data-icon='angle-right' class='svg-inline--fa fa-angle-right fa-w-8' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%23D64933' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'%3E%3C/path%3E%3C/svg%3E");
   }

   #Resume-icons-side-wrapper{
      border-right: 2px solid var(--gunmetal);
   }

}
